@import "compass/css3/font-face";

@font-face {
    font-family: 'RalewayThin';
    src: url('../fonts/theleagueof-raleway/raleway_thin-webfont.eot');
    src: url('../fonts/theleagueof-raleway/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/theleagueof-raleway/raleway_thin-webfont.woff') format('woff'),
         url('../fonts/theleagueof-raleway/raleway_thin-webfont.ttf') format('truetype'),
         url('../fonts/theleagueof-raleway/raleway_thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
@font-face {
    font-family: 'AmaranthRegular';
    src: url('../fonts/amaranth-fontfacekit/Amaranth-webfont.eot');
    src: url('../fonts/amaranth-fontfacekit/Amaranth-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-webfont.woff') format('woff'),
         url('../fonts/amaranth-fontfacekit/Amaranth-webfont.ttf') format('truetype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-webfont.svg#AmaranthRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmaranthItalic';
    src: url('../fonts/amaranth-fontfacekit/Amaranth-Italic-webfont.eot');
    src: url('../fonts/amaranth-fontfacekit/Amaranth-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-Italic-webfont.woff') format('woff'),
         url('../fonts/amaranth-fontfacekit/Amaranth-Italic-webfont.ttf') format('truetype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-Italic-webfont.svg#AmaranthItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmaranthBold';
    src: url('../fonts/amaranth-fontfacekit/Amaranth-Bold-webfont.eot');
    src: url('../fonts/amaranth-fontfacekit/Amaranth-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-Bold-webfont.woff') format('woff'),
         url('../fonts/amaranth-fontfacekit/Amaranth-Bold-webfont.ttf') format('truetype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-Bold-webfont.svg#AmaranthBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmaranthBoldItalic';
    src: url('../fonts/amaranth-fontfacekit/Amaranth-BoldItalic-webfont.eot');
    src: url('../fonts/amaranth-fontfacekit/Amaranth-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/amaranth-fontfacekit/Amaranth-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/amaranth-fontfacekit/Amaranth-BoldItalic-webfont.svg#AmaranthBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/