<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">
           			<a class="brand" href="index.html"><img src="assets/images/logo.png" alt="Aziz Syed" /></a>
				</div>
				<div class="span4">
					<hr class="navbar-divider" />
				   	<div class="links">
						<a href="index.html"><i class="icon-home"></i></a>
						<a href="contact.html"><i class="icon-envelope"></i></a>
						<a href="about.html"><i class="icon-user"></i></a>
						<a href="https://github.com/azizsyed"><i class="icon-github"></i></a>
						<a href="http://linkedin.com/pub/aziz-syed/64/959/b8"><i class="icon-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>