<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">
           			<a class="brand" href="index.html"><img src="assets/images/logo.png" alt="Aziz Syed" /></a>
				</div>
				<div class="span4">
					<hr class="navbar-divider" />
				   	<div class="links clearfix">
						{{>navigation-bar-links}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>