/**
 * Site header
 */
.site-header {
  @include linear-gradient(to top, $navy, tint($navy, 25%), $fallback:$navy);

  .wrapper{
    @include outer-container;
    text-align: center;

    .site-title{

      a{
        color: $orange;
        &:hover{
          color: $aqua;
        }
      }

      @include transition(font 0.25s $ease-in-circ);
      //@include margin(0);

      font-weight: 100;
      //@include hue-nimate(1s);
      //@include clip(90deg, #feab3a, #feab3a, $white);

      font-size: em(42);
      line-height: 1.4em;
      margin: 0;

      @include media($medium-screen-up){
        //font-size: em(40);
      }

      @include media($large-screen-up){
        font-size: em(60);
      }
    }

    .site-title:hover + .site-nav a{
      color: shade($gray, 30%);
    }

    .site-subtitle{
      @include transition(color 0.25s $ease-in-circ);
      color: shade($aqua, 15%);
      font-size: em(14);
      font-weight: normal;
      font-style: italic;

      @include media($medium-screen-up){
        font-size: em(16);
      }

      @include media($large-screen-up){
        font-size: em(18);
      }
    }

    .site-nav{
      //@include clearfix;
      @include padding($small-spacing null);
      ul{
        @include clearfix;
        @include margin(0);
        //@include fill-parent();
        
        li{
          @include span-columns(4);
          text-align: center;

          a{
            color: $white;
            &:hover{
              color: $blue;
            }
            > i{
              font-size: em(20);
              line-height: 0.35em;
              display: block;
            }

            > span{
              font-size: em(10);
            }

            @include media($medium-screen-up){

              font-size: em(20);

              > i{
                font-size: inherit;
                display: inline;
              }
            }

          }

        }
      }
    }

  }
}