/**
 * Page content
 */
.page-content {
  .wrapper{
    @include outer-container;
    @include fill-parent();
    
    @include padding($small-spacing);

    @include media($medium-screen-up){
      @include padding($base-spacing);
    }
  }
}

.page-heading {
}

.post-list {
    > li {
    }
}

.post-meta {
  color: $orange;
}

.post-link {
}



/**
 * Posts
 */
.post-header {
}

.post-title {
}

.post-content {
}


.post-list{
  li{
    @include fill-parent();
    @include row();

    i{
      color: $orange;
    }
  }
}

nav.post-navigation{
  @include clearfix;

  border-top: 1px dashed $orange;
  padding-top: $small-spacing;

  a{
    color: $orange;
    &:hover{
      color: $red;
    }

    &.next{
      float: right;
    }
  }
}