	<div class="container">
		<div class="featurette">
			<h1>{{content.title}}</h1>
			
			<div>
				<table>
					<tr>
						<th class="page">Page</th><th class="link">Link</th>
					</tr>
					{{#content.sitemap}}
					<tr>
						<td>{{name}}</td><td><a href="{{path}}">Link</a></td>
					</tr>
					{{/content.sitemap}}
				</table>
			</div>
	    </div>
	</div>
