---
title: Home
description: A very simple way to add structured data to a page.
scripts:
  external:
  - goodboydigital.com/pixijs/examples/1/pixi.js
  local:
  - index.js
styles:
---
<div id="container"></div>
<canvas id="test"></canvas>
<!--
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
-->
