{{> html-start}}
	{{> head}}
	<body>
		<div class="container">
			{{> header}}
			<div class="bs-header main">
				{{> body}}
			</div>
			{{> footer}}
			{{> scripts}}
		</div>
	</body>
{{> html-end}}